* {
  background-image: none;
}
window {
  /*     /1* font-family: "SauceCodeProNerdFontMono-Light" ; *1/ */
  font-size: 50pt;
  background-color: rgba(30, 30, 46, 0.5);
}
button {
  color: #ffffff;
  background-color: #1e1e1e;
  border: none;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  background-color: rgba(30, 30, 46, 0);
  margin: 0px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: rgba(49, 50, 68, 0.1);
}

button:focus {
  background-color: #cba6f7;
  background-color: rgba(49, 50, 68, 0.3);
}

#lock {
  background-image: image(url("./lock.png"));
}

#suspend {
  background-image: image(url("./sleep.png"));
}

#hibernate {
  background-image: image(url("./sleep.png"));
}

#logout {
  background-image: image(url("./logout.png"));
}

#shutdown {
  background-image: image(url("./power.png"));
}

#reboot {
  background-image: image(url("./restart.png"));
}
