[submodule ".nvm"]
	path = .nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "notes"]
	path = notes
	url = git@github.com:NickHackford/notes.git
[submodule ".local/share/zap"]
	path = .local/share/zap
	url = https://github.com/zap-zsh/zap.git
