window.bar {
  padding: 15px 0px;
  background-color: @theme_bg_color;
  color: @theme_fg_color;
}

label {
  font-weight: bold;
}

.workspaces button {
  padding: 2px;
  font-size: 27px;
  background-color: transparent;
  border-bottom: 3px solid transparent;
}

.workspaces button:active {
  color: #ffffff;
}

.workspaces button:hover {
  border-bottom: 3px solid @theme_fg_color;
}

.workspaces button.focused {
  color: @warning_color;
}

.client-title {
  color: @theme_selected_bg_color;
}

.volume {
  font-size: 20px;
  padding-bottom: 10px;
}

.weather {
  font-size: 20px;
  padding-bottom: 10px;
}

.clock {
  font-size: 20px;
}

.clock .clock-line {
  padding-bottom: 5px;
}

.clock .clock-line-3 {
  padding-bottom: 15px;
}

window.notification-popups box.notifications {
  padding: 0.5em;
}

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;
}

.icon image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px;
  color: @theme_fg_color;
}

.icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 7px;
}

.notification {
  min-width: 350px;
  border-radius: 11px;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid @wm_borders_edge;
  background-color: @theme_bg_color;
  transition: margin 1s ease;
}

.dismissing .notification {
  margin-left: -400px;
  margin-right: 400px;
}

.notification.critical {
  border: 1px solid lightcoral;
}

.title {
  color: @theme_fg_color;
  font-size: 1.4em;
}

.body {
  color: @theme_unfocused_fg_color;
}

.actions .action-button {
  margin: 0 0.4em;
  margin-top: 0.8em;
}

.actions .action-button:first-child {
  margin-left: 0;
}

.actions .action-button:last-child {
  margin-right: 0;
}
