[Desktop Entry]
Type=Application
Name=Shapes_Colors
Exec=waydroid app launch com.storytoys.veryhungrycaterpillar.shapesandcolors.free.android.googleplay
Icon=/home/kids/.local/share/waydroid/data/icons/com.storytoys.veryhungrycaterpillar.shapesandcolors.free.android.googleplay.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;

[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.storytoys.veryhungrycaterpillar.shapesandcolors.free.android.googleplay
Icon=/home/kids/.local/share/waydroid/data/icons/com.android.settings.png
