@import "./scheme.css";

* {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  font-weight: 300;
  font-size: 12pt;
}

window#waybar {
  background: @base00;
  background: linear-gradient(to bottom, @base00 20%, @base00-00);
}

tooltip {
  background: @base00-75;
  color: @base07;
}

#workspaces {
  margin-right: 8px;
  transition: none;
}

#workspaces button {
  color: @base04;
  transition: none;
  padding: 3px 8px 3px 5px;
}

#workspaces button.special {
  color: @base03;
}

#workspaces button.visible {
  background: @base02;
  color: @base05;
}

#workspaces button.active {
  background: @base03;
  color: @base06;
}

#workspaces button:hover {
  background: @base04;
  color: @base07;
}

#window {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: @base07;
}

#tray {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
  border-radius: 10px;
  transition: none;
  color: @base07;
}

#custom-sound {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: @base07;
}

#wireplumber {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: @base07;
}

#bluetooth {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: @base07;
}

#memory {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: @base07;
}

#custom-weather {
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 10px 0px 0px 10px;
  transition: none;
  color: @base07;
}

#clock {
  padding-right: 16px;
  border-radius: 0px 10px 10px 0px;
  transition: none;
  color: @base07;
}
