@import "./scheme.css";

* {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  font-weight: 300;
  font-size: 12pt;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  background: @base00;
  color: @base05;
  margin-right: 8px;
  border-radius: 10px;
  transition: none;
}

#workspaces button {
  transition: none;
  background: transparent;
  padding: 5px;
  font-size: 18px;
}

#workspaces button.active {
  background: @base02;
  color: @base07;
  border-radius: inherit;
}

#workspaces button:hover {
  background: @base03;
  color: @base08;
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  border-radius: inherit;
}

#window {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  background: @base00;
  color: @base05;
}

#tray {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
  border-radius: 10px;
  transition: none;
  background: @base00;
  color: @base05;
}

#custom-sound {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  background: @base00;
  color: @base05;
}

#wireplumber {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  background: @base00;
  color: @base05;
}

#bluetooth {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  background: @base00;
  color: @base05;
}

#memory {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  background: @base00;
  color: @base05;
}

#custom-weather {
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 10px 0px 0px 10px;
  transition: none;
  background: @base00;
  color: @base05;
}

#clock {
  padding-right: 16px;
  border-radius: 0px 10px 10px 0px;
  transition: none;
  background: @base00;
  color: @base05;
}
