$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$warning-color: #{"@warning_color"};
$selected-bg-color: #{"@theme_selected_bg_color"};

window.bar {
  color: $fg-color;
  padding: 15px 0px;
  background-color: $bg-color;

  label {
    font-weight: bold;
  }

  .workspaces {
    padding: 0.5em 0em;

    .left {
      padding-right: 1em;
    }

    button {
      padding: 2px;
      font-size: 27px;
      background-color: transparent;
      border-bottom: 3px solid transparent;

      &:active {
        color: #ffffff;
      }

      &:hover {
        border-bottom: 3px solid $fg-color;
      }

      &.focused {
        color: $warning-color;
      }
    }
  }

  .client-title {
    color: $selected-bg-color;
  }

  .displays {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .volume {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .tray {
    button {
      padding: 0;
      margin: 3px;
    }
    margin-bottom: 10px;
  }

  .weather {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .clock {
    min-width: 90px;
    font-size: 20px;
    .clock-line {
      padding-bottom: 5px;
    }
    .clock-line-3 {
      padding-bottom: 15px;
    }
  }

  .system {
    font-size: 30px;
  }
}

.system-popup {
  box {
    font-size: 30px;
    margin: 0.5em;
  }

  button {
    padding: 0.5em;
  }
}
